# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

/app/generated/prisma

/app/generated/prisma

/lib/generated/prisma

/app/generated/prisma

/app/generated/prisma

/app/generated/prisma

/app/generated/prisma

/app/generated/prisma

/app/generated/prisma

/app/generated/prisma
server/db/migrations/meta/_journal.json
server/db/migrations/0000_blushing_vanisher.sql
server/db/migrations/meta/_journal.json
server/db/migrations/meta/0000_snapshot.json
